<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186544444100-56rcbrqmhgkv37efq7ct4acpr7ktkqvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186544444100-56rcbrqmhgkv37efq7ct4acpr7ktkqvk</string>
	<key>API_KEY</key>
	<string>AIzaSyClLyc0NWV-Rdj1MrDkeYMdqaHii00mwAE</string>
	<key>GCM_SENDER_ID</key>
	<string>186544444100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohamedflutterapps.bloodbank</string>
	<key>PROJECT_ID</key>
	<string>bloodbank-97a67</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodbank-97a67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186544444100:ios:890f6ddc12e12e4647ef91</string>
	<key>DATABASE_URL</key>
	<string>https://bloodbank-97a67.firebaseio.com</string>
</dict>
</plist>